<container>
  <row class="footer">
    <columns>
      <spacer size="60"></spacer>
      <p class="text-center">Angellist Weekly</p>
      <spacer size="5"></spacer>
      <p class="text-center">90 Gold St</p>
      <spacer size="5"></spacer>
      <p class="text-center">San Francisco, CA 94133</p>
      <spacer size="5"></spacer>
      <p class="text-center">
        <a href="#">Unsubscribe</a> | <a href="#">Update preferences</a>
      </p>
      <spacer size="60"></spacer>
    </columns>
  </row>
</container>
